<ion-header>
  <ion-toolbar>
    <ng-container *ngIf="!isSetting">
      <ion-buttons slot="start" class="side-menu-back-btn">
        <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
      </ion-buttons>
      <ion-title>
        {{cat?.name}}
      </ion-title>
      <ion-buttons slot="end" class="toolbar-btn cursor" (click)="moveSearchPage()">
        <ion-icon name="search"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end" class="toolbar-btn cursor" (click)="moveExamReadyPage()">
        <ion-icon name="create"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end" class="toolbar-btn cursor" (click)="clickSetting()" *ngIf="cat?.typeId == 1">
        <ion-icon name="settings"></ion-icon>
      </ion-buttons>
    </ng-container>

    <ng-container *ngIf="isSetting">
      <ion-buttons slot="start" class="toolbar-back-btn cursor" (click)="cancelSetting(dayListCopy)">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-buttons>
      <ion-title>
        {{cat?.name}}
      </ion-title>
      <ion-buttons slot="end" class="toolbar-btn cursor" (click)="clickTrash()">
        <ion-icon name="trash" color="danger"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end" class="toolbar-btn cursor" (click)="saveSetting()">
        <ion-icon name="save" color="primary"></ion-icon>
      </ion-buttons>
    </ng-container>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="cat">

  <!-- lec list -->
  <ng-container *ngIf="!isSetting">
    <ion-list>
      <ion-item class="cursor" *ngFor="let day of dayList">
        <ion-label class="name-label" (click)="moveWordListPage(day)">{{day.name}}</ion-label>
        <ion-note slot="end" class="progress-note">1%</ion-note>
        <!-- <ion-buttons slot="end" class="cursor study-btn" (click)="moveWordListPage(day)">
          <ion-icon name="book"></ion-icon>
          progress 안할 경우 study-btn css 제거@@@@@@@@@@@@@@@@@@@@@@
        </ion-buttons> -->
        <ion-buttons slot="end" class="cursor" (click)="moveWordListPage(day)">
          <ion-icon name="list"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end" class="cursor" (click)="moveWordListPage(day)">
          <ion-icon name="card"></ion-icon>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ng-container>

  <!-- setting page -->
  <ng-container *ngIf="isSetting && cat?.typeId == 1">
    <ion-grid>
      <ion-row class="row-all">
        <ion-col class="col-checkbox">
          <ion-item lines="none">
            <ion-checkbox [(ngModel)]="allCheck" (click)="clickAllCheck($event)"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col class="col-reorder">
          <ion-item>
            <ion-label>All</ion-label>
            <ion-buttons slot="end" class="sort-btn cursor" (click)="sortCatList($event)">
              <ion-icon name="more" color="medium"></ion-icon>
            </ion-buttons>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-reorder-group (ionItemReorder)="onRenderItems($event)" disabled="false">
        <ion-row *ngFor="let day of dayList">
          <ion-col class="col-checkbox">
            <ion-item lines="none">
              <ion-checkbox [(ngModel)]="day.checked" (click)="clickDayCheck($event, day)"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col class="col-reorder">
            <ion-item>
              <ion-label class="cursor" (click)="alertUpdateName(day)">{{day.name}}</ion-label>
              <ion-reorder></ion-reorder>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-reorder-group>
    </ion-grid>
  </ng-container>

  <!-- fab button -->
  <ion-fab *ngIf="isFabBtn && cat?.typeId == 1" vertical="bottom" horizontal="end" slot="fixed" (click)="alertNewType1Day()">
    <ion-fab-button size="small" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>