ion-header {
  ion-toolbar {
    padding-right: 4px;

    .toolbar-btn {
      width: 36px;
      height: 32px;

      ion-icon {
        width: 26px;
        height: 32px;

        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .toolbar-back-btn {
      width: 42px;
      height: 32px;

      ion-icon {
        width: 26px;
        height: 32px;
        
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}

ion-content {
  --background: var(--ion-color-lightgray);
  
  // list
  ion-list {
    padding: 0px;

    ion-item {
      --inner-padding-end: 5px;

      .progress-note {
        width: 48px;
        margin: 0px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 16px;
        padding-bottom: 17px;
        text-align: center;
      }

      ion-buttons {
        width: 40px;
        height: 48px;

        margin: 0px;

        ion-icon {
          width: 20px;
          height: 20px;

          padding-left: 10px;
          padding-right: 10px;
        }   
      }

      .study-btn {
        width: 40px;
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }

  // setting
  ion-grid {
    padding: 0px;

    ion-row {

      ion-col {
        padding: 0px;
      }

      .col-checkbox {
        min-width: 50px;
        max-width: 50px;

        ion-checkbox {
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }

      .col-reorder {
        
        ion-item {
          --padding-start: 0px;
        }
      }
    }

    .row-all {
      ion-item {
        --background: var(--ion-color-lightgray);

        .sort-btn {
          width: 32px;
          height: 32px;

          ion-icon {
            width: 26px;
            height: 32px;

            padding-left: 3px;
            padding-right: 3px;
          }
        }
      }
    }
  }
}