<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      프로필
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none">
    <ion-avatar slot="start" class="cursor" (click)="closeMenu()"
      [routerLink]="[pageInfo.photo.url, user.photo ? user.photo : '']" routerDirection="forward">
      <img [src]="user.photo ? user.photo : 'assets/img/google_default_photo.jpg'">
    </ion-avatar>
  </ion-item>
  
  <ion-list-header></ion-list-header>
  <ion-item>
    {{user.uid}}
  </ion-item>
  <ion-item>
    {{user.email}}
  </ion-item>

  <ion-list-header></ion-list-header>
  <ion-item>
    <ion-button expand="block" color="danger" (click)="signOut()">Sign Out</ion-button>
  </ion-item>

</ion-content>
