<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      프로필
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="user-select">

  <ion-item lines="none">
    <ion-avatar slot="start" class="cursor" (click)="closeMenu()"
      [routerLink]="[pageInfo.photo.url, user.photo ? user.photo : '']" routerDirection="forward">
      <img [src]="user.photo ? user.photo : 'assets/img/google_default_photo.jpg'">
    </ion-avatar>
  </ion-item>
  
  <ion-list-header></ion-list-header>
  <ion-item>
    <ion-label>UID</ion-label>
    <ion-note slot="end">{{user.uid}}</ion-note>
  </ion-item>
  <ion-item>
    email
    <ion-note slot="end">{{user.email}}</ion-note>
  </ion-item>

  <ion-list-header></ion-list-header>
  <ion-item>
    <ion-label>
      회원탈퇴
    </ion-label>
    <ion-icon name="trash" slot="end" color="danger" (click)="withdraw()"></ion-icon>
  </ion-item>
  <ion-item (click)="signOut()">
    <ion-label>
      로그아웃
    </ion-label>
    <ion-icon name="log-out" slot="end" color="primary"></ion-icon>
  </ion-item>
</ion-content>
