<ion-header>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="assets/img/sign-in.jpg">
    <ion-card-header>
      <ion-card-subtitle>WELCOME TO</ion-card-subtitle>
      <ion-card-title>
        <ion-icon src="assets/img/logo.svg"></ion-icon>
        Htudy
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item-divider></ion-item-divider>
      <ion-button expand="block" (click)="signIn()">
        <ion-icon name="logo-googleplus"></ion-icon>
        &nbsp;SIGN IN WITH Google
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
