ion-list {

  padding: 0px;
  border-top: 2px solid;
  border-color: var(--ion-color-lightgray);

  ion-list-header {
    --background: white;
    max-height: 40px;
    min-height: 40px;
    padding-left: 12px;
  }

  ion-item {
    border-left: 6px solid white;
    --padding-start: 0px;

    ion-icon {
      margin: 12px;
    }
  }
  
  .active-item {
    border-left: 6px solid var(--ion-color-primary);
  
    ion-icon {
      color: var(--ion-color-primary);
    }
  }
}

ion-list:first-child {
  border-top: 0px;
}