<ion-header>
  <ion-toolbar>
    <ng-container *ngIf="!isSetting">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        {{sub?.name}}
      </ion-title>
      <ion-buttons slot="end" class="toolbar-btn cursor" (click)="moveSearchPage()">
        <ion-icon name="search"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end" class="toolbar-btn cursor" (click)="clickSetting()">
        <ion-icon name="settings"></ion-icon>
      </ion-buttons>
    </ng-container>

    <ng-container *ngIf="isSetting">
      <ion-buttons slot="start" class="toolbar-back-btn cursor" (click)="cancelSetting(subCopy)">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-buttons>
      <ion-title>
        {{sub?.name}}
      </ion-title>
      <ion-buttons slot="end" class="toolbar-btn cursor" (click)="clickTrash()">
        <ion-icon name="trash" color="danger"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end" class="toolbar-btn cursor" (click)="saveSetting()">
        <ion-icon name="save" color="primary"></ion-icon>
      </ion-buttons>
    </ng-container>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="sub">

  <!-- cat list -->
  <ng-container *ngIf="!isSetting">
    <ion-list>
      <ng-container *ngIf="sub.type1CatList.length > 0">
        <ion-item-divider color="lightgray">
          <ion-label>
            내 단어장
          </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let cat of sub.type1CatList.slice().reverse()">
          <ion-label class="cursor" (click)="moveDayListPage(cat)">{{cat.name}}</ion-label>
          <ion-buttons slot="end" class="info-btn cursor" (click)="clickInfo(cat)">
            <ion-icon name="information" color="medium"></ion-icon>
          </ion-buttons>
        </ion-item>
      </ng-container>

      <ng-container *ngIf="sub.type0CatList.length > 0">
        <ion-item-divider color="lightgray">
          <ion-label>
            기본 단어장
          </ion-label>
        </ion-item-divider>
      </ng-container>
      <ion-item *ngFor="let cat of sub.type0CatList">
        <ion-label class="cursor" (click)="moveDayListPage(cat)">{{cat.name}}</ion-label>
        <ion-buttons slot="end" class="info-btn cursor" (click)="clickInfo(cat)">
          <ion-icon name="information" color="medium"></ion-icon>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ng-container>

  <!-- setting page -->
  <ng-container *ngIf="isSetting">
    <ion-grid>
      <ion-row class="row-all">
        <ion-col class="col-checkbox">
          <ion-item lines="none">
            <ion-checkbox [(ngModel)]="allCheck" (click)="clickAllCheck($event)"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col class="col-reorder">
          <ion-item>
            <ion-label>All</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-reorder-group (ionItemReorder)="onRenderItems($event)" disabled="false">
        <ion-row *ngFor="let cat of sub.type1CatList.slice().reverse()">
          <ion-col class="col-checkbox">
            <ion-item lines="none">
              <ion-checkbox [(ngModel)]="cat.checked" (click)="clickCatCheck($event, cat)"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col class="col-reorder">
            <ion-item>
              <ion-label class="cursor" (click)="alertUpdateName(cat)">{{cat.name}}</ion-label>
              <ion-reorder></ion-reorder>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-reorder-group>
    </ion-grid>
  </ng-container>

  <!-- fab button -->
  <ion-fab *ngIf="isFabBtn" vertical="bottom" horizontal="end" slot="fixed" (click)="alertNewType1Cat()">
    <ion-fab-button size="small" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
